.tarjeta{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
.lines{
    margin-top: 40px;
}
.bodytarjeta{
    padding-top: 130px;
}
body{
    background: white;
}
.bot{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    

}
.bot button{
    width: 100px;
    margin: 10px;
    background-color: #EFEDD0;
    color: black;
    border-radius: 10px;
    box-sizing: unset;
    font-size: larger;
   
}