.tarjeta{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    align-items: center;
}


  
  


.bodytarjeta{
    padding-top: 100px;
}
body{
    background: white;
}
.bot{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    

}
.bot button{
    width: 100px;
    margin: 10px;
   
}