body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tarjeta{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
.lines{
    margin-top: 40px;
}
.lines p{
    align-items: center;
   
}
.bodytarjeta{
    padding-top: 130px;
}
body{
    background: white;
}
.bot{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    

}
button{
    transition: 0.1s;
}
button:hover{
    transform: scale(1.1);
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
.bot button{
    width: 100px;
    margin: 10px;
    color: black;
    border-radius: 10px;
    box-sizing: unset;
    font-size: larger;
    background-color: white;
    color: black;
    border: 2px solid #EFEDD0; 
   
}
.noResults{
    text-align: center;
    font-size: 40px;
}