.card{
    padding: 10px;
    margin: 20px;
    width: 20%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    
}
.more{
    color: blue;
}
.more:hover {
    text-decoration: underline;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}
h1{
    font-size: small;
}