.tarjeta .card{
    padding: 10px;
    margin: 20px;
    width: 20%;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    color: white;
    overflow: hidden;
    
}
.lines .card {
    background-color: black;
    padding-top: 13px;
    margin-top: 8px;
    border: radius 2%;

}
.lines .info{
    color: white;
    text-align:center;
}
.lines .card img{
    width: 14%;
    padding: 3px;
}

.lines .buttons .more{
    display: none;
}
.lines .hide{
    display: block;
}
.lines .card{
    display: flex;
    
}

.tarjeta .card{
    transition: 0.2s ;
}
.tarjeta .card:hover{
    transform: scale(1.2);
   
}
.delete{
background-color: #EFEDD0;
margin-right: 10px;
border: transparent;
border-radius: 2px;

}
.more{
    margin-right: 10px;
    background-color:  #EFEDD0 ;
    border: transparent;
    border-radius: 2px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
h1{
    font-size: small;
}
.imgCard{
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    text-align: center;
}
