.tarjeta .card{
    padding: 10px;
    margin: 20px;
    width: 20%;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    color: white;
    overflow: hidden;
    
}
.lines .card {
    background-color: black;
    margin: 10px;
    border-radius:10px;
    transition: 0.3s ;
}
.lines .info{
    color: white;
    text-align:center;
    padding-left: 30px;
    width: fit-content;
}
.lines .info h1{
font-size: 24px ;
}
.lines .card img{
    width: 14%;
    margin: 10px;
    
}

.lines .buttons .more{
    display: none;
}
.lines .hide{
    display: block;
    
}
.lines .card{
    display: flex;
  
    
}

.tarjeta .card{
    transition: 0.2s ;
}
.tarjeta .card:hover{
    transform: scale(1.2);
   
}
.delete{
background-color: #EFEDD0;
margin-right: 10px;
border: transparent;
border-radius: 2px;
box-sizing: unset;
font-size: larger;

}
.more{
    margin-right: 10px;
    background-color:  #EFEDD0 ;
    border: transparent;
    border-radius: 2px;
    box-sizing: unset;
    font-size: larger;
}
.hide{
    display: none;
}
.show{
    display: block;
    
}
h1{
    font-size: small;
}
.imgCard{
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.info{
    text-align: center;
}
